@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;900&family=Sarabun:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #f3f4f6;
  --color-main: #ffffff;
  --color-text: #000000;
  --shadow-hard: 4px 4px 0px 0px #000000;
  --shadow-hover: 0px 0px 0px 0px #000000;
}

body {
  font-family: 'Sarabun', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-display {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
}

.neo-box {
  border: 3px solid #000;
  box-shadow: var(--shadow-hard);
  transition: all 0.2s ease-in-out;
}

.neo-box:hover {
  transform: translate(2px, 2px);
  box-shadow: var(--shadow-hover);
}

.neo-box-static {
  border: 3px solid #000;
  box-shadow: var(--shadow-hard);
}

.neo-btn {
  border: 2px solid #000;
  background: #fff;
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: var(--shadow-hard);
  transition: all 0.1s;
}

.dark .neo-btn {
  border-color: #fff;
  box-shadow: 4px 4px 0px 0px #fff;
}

.neo-btn:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}

.dark .neo-btn:active {
  box-shadow: none;
}

.neo-input {
  border: 3px solid #000;
  padding: 12px;
  font-family: 'Sarabun', sans-serif;
  outline: none;
  transition: all 0.2s;
  background-color: #fff;
  color: #000;
}

.neo-input:focus {
  background-color: #ffffff;
  border-color: #000;
}

.dark .neo-input {
  background-color: #27272a;
  /* zinc-800 */
  border-color: #fff;
  color: #fff;
}

.dark .neo-input:focus {
  background-color: #3f3f46;
  /* zinc-700 */
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #eee;
  border-left: 2px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #eee;
}

.dark ::-webkit-scrollbar-track {
  background: #27272a;
  border-left: 2px solid #fff;
}

.dark ::-webkit-scrollbar-thumb {
  background: #fff;
  border: 2px solid #27272a;
}